body {
    background-color: #9fd3c7;
}

.table {
    margin-top: 20px;
}


.version-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ececec;
}

.btn-secondary {
    margin-top: 5px;
    margin-left: 50px;
}
